
			<!-- Start Report Area -->
			<section class=" section-gap" id="about" style="direction:rtl;text-align:right">
				<div class="container">
					<div class="row ">
					

						<div class="col-lg-9 col-md-9 col-sm-8">
							<h2 style=" font-weight: normal;font-size: 23px; color: #72591b;">گزارش ها و منابع معلوماتی</h2 >
				
					<ul style="list-style-type: none; padding: 0; margin: 0;">
						<li style="   margin: 0; padding: 17px 0;   border-bottom: 1px dashed #d5d5d5;">
							<img class="pt-2 ml-3  float-right " style="width:150px" src="assets/website/img/s1.jpg" alt="">									
							<h5 style="color: #274d75;">وزارت اقتصاد در نظر دارد تا طرزالعمل های کاری جدید را بر اساس صراحت قانون مؤسسات غیر دولتی</h5>
							<span class="fa fa-clock-o"> میزان  1398</span>
							<p>زارت اقتصاد در نظر دارد تا طرزالعمل های کاری جدید را بر اساس صراحت قانون مؤسسات غیر دولتی بمنظور تسهیل در فرایند ثبت و جواز دهی برای مؤسسات غیر دولتی، فراهم آوری تسهیلات برای آنها و نظارت دقیق از فعالیت های مؤسسات غیر دولتی ترتیب نماید.</p>

						</li>
							<li style="   margin: 0; padding: 17px 0;   border-bottom: 1px dashed #d5d5d5;">
							<img class="pt-2 ml-3  float-right " style="width:150px" src="assets/website/img/s2.jpg" alt="">									
							<h5 style="color: #274d75;">لست تعداد از موسسات غیردولتی که قرار است الی اخیر ماه سنبله به انحلال سوق داده شود همچنان فیصله کمیسیون عالی در رابطه به انحلال این موسسات</h5>
							<span class="fa fa-clock-o"> میزان  1398</span>
							<p>زارت اقتصاد در نظر دارد تا طرزالعمل های کاری جدید را بر اساس صراحت قانون مؤسسات غیر دولتی بمنظور تسهیل در فرایند ثبت و جواز دهی برای مؤسسات غیر دولتی، فراهم آوری تسهیلات برای آنها و نظارت دقیق از فعالیت های مؤسسات غیر دولتی ترتیب نماید.</p>

						</li>
							<li style="   margin: 0; padding: 17px 0;   border-bottom: 1px dashed #d5d5d5;">
							<img class="pt-2 ml-3  float-right " style="width:150px" src="assets/website/img/s3.jpg" alt="">									
							<h5 style="color: #274d75;">
							گزارش سالانه موسسات غیردولتی 1397</h5>
							<span class="fa fa-clock-o"> میزان  1398</span>
							<p>زارت اقتصاد در نظر دارد تا طرزالعمل های کاری جدید را بر اساس صراحت قانون مؤسسات غیر دولتی بمنظور تسهیل در فرایند ثبت و جواز دهی برای مؤسسات غیر دولتی، فراهم آوری تسهیلات برای آنها و نظارت دقیق از فعالیت های مؤسسات غیر دولتی ترتیب نماید.</p>
						</li>
					</ul>
					</div>

						<div class="col-lg-3 col-md-3 col-sm-4 ">
								<h2 class="pr-2" style=" font-weight: normal;font-size: 23px; color: #72591b;">بیوگرافی وزیر اقتصاد</h2 >
								<!-- <img src="assets/website/img/s1.jpg"> -->
								<img class="img-fluid pt-2  single-project" src="assets/website/img/bio.jpg" alt="">							
								<p style="color:#333;">محترم مصطفی مستور در سال ۱۳۴۷ هجری خورشیدی در ده افغانان ولایت کابل متولد شده و دروس خویش را در لیسه های شیرشاه سوری و عمرشهید به پیش برده و در سال ۱۳۶۶ از لیسه حربی به درجه عالی فارغ گردیده است …</p>
								<a href="" style="color:#ab8e46;" >
									<span class="fa fa-angle-double-left">  ادامه خبر</span>
								</a>
						</div>
				</div>	
				</div>	
			</section>
			<!-- End Report Area -->