
  <div  align='end'>
    <button mat-raised-button color="primary" style="padding-top: 4px;" (click)="openDialog()" >Add</button>
  </div>

 
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="equipType">
        <th mat-header-cell *matHeaderCellDef> Equipment Types </th>
        <td mat-cell *matCellDef="let element"> {{element.equipType}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element" class="btn btn-default btn-md"><i class="fa fa-trash" (click)='deleteEquiptType(element.id)'></i></td>
      </ng-container>
    
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
  
