 		<link rel="stylesheet" href="assets/website/css/linearicons.css">
			<link rel="stylesheet" href="assets/website/css/font-awesome.min.css">
			<link rel="stylesheet" href="assets/website/css/bootstrap.css">
			<link rel="stylesheet" href="assets/website/css/magnific-popup.css">
			<link rel="stylesheet" href="assets/website/css/nice-select.css">	
			<link rel="stylesheet" href="assets/website/css/hexagons.min.css">							
			<link rel="stylesheet" href="assets/website/css/animate.min.css">
			<link rel="stylesheet" href="assets/website/css/owl.carousel.css">
			<link rel="stylesheet" href="assets/website/css/main.css">

 <header id="header" style="position:relative !important; direction:ltr" id="home">
		  		<div id="top-line"> 
		  			<ul>
		  				<li> <a href=""> دری</a> </li>
		  				<li> <a href="">پشتو</a> </li>
		  				<li> <a href="">English</a> </li>
		  			</ul>
		  	 	 </div>
		  		<div class="header-top " style="direction:rtl">
		  			<div class="container" >
				  		<div class="row" >
				  			<div class="col-lg-5 col-md-6   no-padding">
				  			<div id="logo1">
				  			<a href="" style="float:right">
				  				<img src="assets/website/img/logo_gov.png">
				  			</a>
				  			<div class="text-right " style="float:right; margin-right: 10px;">
				  				<span>جمهوری اسلامی افغانستان</span> <br>
				  				<span>وزارت اقتصاد</span><br>
				  				<b style="color:#333" >ریاست انسجام فعالیت های مؤسسات غیر دولتی</b>
				  			</div>
				  			</div>
				  			</div>
				  			<div class="col-lg-7 col-md-6  no-padding">
				  				<div id="icons" style="text-align: center; padding: 10px; margin: 10px;">
				  				<ul>
				  					<li> <a href="">
				  					<span class="fa fa-lg fa-pencil-square-o"></span> 
				  					<br>	
									ثبت آنلاین مؤسسه 
				  					</a>
				  					</li>		
				  					<li> <a href="">
				  					<span class="fa fa-lg fa-unlock-alt"></span> 
				  					<br>	دیتابیس انجوها 
				  					</a>
				  					</li>
				  					<li> <a href="">
				  					<span class="fa fa-lg fa-graduation-cap"></span> 
				  					<br>	کاریابی
				  					</a>
				  					</li>
				  					<li> <a href="">
				  					<span class="fa fa-lg fa-check-square-o"></span> 
				  					<br>	لیست مؤسسات
				  					</a>
				  					</li>
				  					<li> <a href="">
				  					<span class="fa fa-lg fa-sign-in"></span> 
				  					<br>	login
				  					</a>
				  					</li>

				  				</ul>
				  					
				  				</div>			
				  			</div>
				  		</div>			  					
		  			</div>
				</div>

			    <div class="container-flued main-menu" style="direction:rtl;">
			    	<div class="container">

			    	<div class="row align-items-center justify-content-between d-flex" >

				      <nav id="nav-menu-container" >
				        <ul class="nav-menu">
	
				          <li><a href="about.html">تماس</a></li>
				          <li><a href="services.html">کاریابی</a></li>
				          <li><a href="projects.html">قانون مؤسسات</a></li>
				          <li><a href="blog-home.html">لیست مؤسسات</a></li>
				              <li><a href="blog-single.html">ثبت مؤسسه</a></li>
				          <li class="menu-has-children"><a href="">رسانه ها</a>

				            <ul>
				              <li><a href="blog-home.html">لیست مؤسسات</a></li>
				              <li><a href="blog-single.html">ثبت مؤسسه</a></li>
				            </ul>
				          </li>						          
				          <li><a href="contact.html">در باره ما</a></li>
			              <li><a href="elements.html">صفحه نخست</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->
				      <div id="logo">
				      <form class="form-inline">
				      	
						<input type="search" placeholder="جستجو...">
				      	
				      </form>
				      </div>	
				      <div>
				      <a href="" > <span class="fa fa-facebook-square"> </span></a>
				      <a href="" > <span class="fa fa-facebook-square"> </span></a>
				      <a href="" > <span class="fa fa-facebook-square"> </span></a>
				      </div>

			    	</div>	    		
			    	</div>
			    </div>
			  </header><!-- #header -->
<!--
        	<script src="assets/website/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="assets/website/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="assets/website/js/easing.min.js"></script>			
			<script src="assets/website/js/hoverIntent.js"></script>
			<script src="assets/website/js/superfish.min.js"></script>	
			<script src="assets/website/js/jquery.ajaxchimp.min.js"></script>
			<script src="assets/website/js/jquery.magnific-popup.min.js"></script>	
			<script src="assets/website/js/owl.carousel.min.js"></script>	
			<script src="assets/website/js/hexagons.min.js"></script>							
			<script src="assets/website/js/jquery.nice-select.min.js"></script>	
			<script src="assets/website/js/jquery.counterup.min.js"></script>
			<script src="assets/website/js/waypoints.min.js"></script>							
			<script src="assets/website/js/mail-script.js"></script>	
			<script src="assets/website/js/main.js"></script>	-->