				 		<link rel="stylesheet" href="assets/website/css/linearicons.css">
			<link rel="stylesheet" href="assets/website/css/font-awesome.min.css">
			<link rel="stylesheet" href="assets/website/css/bootstrap.css">
			<link rel="stylesheet" href="assets/website/css/magnific-popup.css">
			<link rel="stylesheet" href="assets/website/css/nice-select.css">	
			<link rel="stylesheet" href="assets/website/css/hexagons.min.css">							
			<link rel="stylesheet" href="assets/website/css/animate.min.css">
			<link rel="stylesheet" href="assets/website/css/owl.carousel.css">
			<link rel="stylesheet" href="assets/website/css/main.css">
    	<footer class="footer-area section-gap" style="background:#08567f; padding:50px 0;">
				<div class="container" style="direction:rtl;text-align:right">
					<div class="row m-0">

						<div class="col-lg-4 col-md-4 col-sm-8">
							<h2>	آخرین خبر ها</h2>
							<ul>	
									<li><a href="">گزارش سالانه موسسات غیردولتی 1397 طی کنفرانس مطبوعاتی تحت عنوان" کنفرانس شفافیت و حسابدهی موسسات غیردولتی" </a>	</li>
									<li><a href="">نشست کمیتۀ رهبری انجوها با اشتراک مهمانان وزارت خانه ها، نمایندگان با صلاحیت منابع تمویل کننده</a> </li>
									<li>  <a href="">محفل توزیع جواز فعالیت برای موسسات جدید التاسیس داخلی و خارجی</a></li>
							</ul>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4">
							<h2>انجو ها</h2>
							<ul class="ul">	
							<li> <span class="text-white fa fa-caret-left"></span> <a href="">ثبت آنلاین مؤسسه</a></li>
							<li> <span class="text-white fa fa-caret-left"></span> <a href="">کاریابی مؤسسات</a></li>
							<li> <span class="text-white fa fa-caret-left"></span> <a href="">دیتابیس انجوها</a></li>
							<li> <span class="text-white fa fa-caret-left"></span> <a href="">رهنمود ثبت مؤسسه</a></li>
							<li> <span class="text-white fa fa-caret-left"></span> <a href="">قانون مؤسسات</a></li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<h2>	لینک های مرتبط</h2>
							<ul class="ul">	
							<li><span class="text-white fa fa-caret-left"></span> <a href="">وزارت اقتصاد</a></li>
							<li><span class="text-white fa fa-caret-left"></span> <a href=""> وزارت معارف </a></li>
							<li><span class="text-white fa fa-caret-left"></span> <a href=""> وزارت زراعت ،آبیاری و مالداری</a></li>
							<li><span class="text-white fa fa-caret-left"></span> <a href="">وزارت صحت عامه</a></li>
							<li><span class="text-white fa fa-caret-left"></span> <a href="">ریاست عمومی امور ریاست جمهوری</a></li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<h2>	تماس با ما</h2>
							<ul>	
							<li><a href="">چهارراهی ملک اصغر، کابل افغانستان</a></li>
							<li><a href="">تلفون: 202100427 93+</a></li>
							<li><a href=""> فکس: 202103434 93+</a></li>
							<li><a href=""> ایمیل: info@ngo.gov.af</a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

			<!-- Copy right area -->
			<div class="container-flued" id="copyright">
				<div class="container">	
				<div class="row">
				<div class="col-md-7">
				<p style="    font-size: 13px; color: #888;"> 
				Islamic Republic of Afghanistan, Ministry Of Economy, Directorate of NGOs <br>
				<span style="font-weight:normal;color:#666"> © 2017 All Rights Reserved.</span>
				</p>
					</div>
					<div class="col-md-5">
						<ul>
							<li> <a href="" ><span class="fa fa-2x fa-linkedin-square"></span> </a></li>
							<li> <a href="" ><span class="fa fa-2x fa-google-plus-square"></span> </a></li>
							<li> <a href="" ><span class="fa fa-2x fa-twitter-square"></span> </a></li>
							<li> <a href="" ><span class="fa fa-2x fa-youtube-square"></span> </a></li>
							<li> <a href="" ><span class="fa fa-2x fa-facebook-square"></span> </a></li>
						</ul>
					</div>
				</div>
				</div>
			</div>


	<script src="assets/website/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="assets/website/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="assets/website/js/easing.min.js"></script>			
			<script src="assets/website/js/hoverIntent.js"></script>
			<script src="assets/website/js/superfish.min.js"></script>	
			<script src="assets/website/js/jquery.ajaxchimp.min.js"></script>
			<script src="assets/website/js/jquery.magnific-popup.min.js"></script>	
			<script src="assets/website/js/owl.carousel.min.js"></script>	
			<script src="assets/website/js/hexagons.min.js"></script>							
			<script src="assets/website/js/jquery.nice-select.min.js"></script>	
			<script src="assets/website/js/jquery.counterup.min.js"></script>
			<script src="assets/website/js/waypoints.min.js"></script>							
			<script src="assets/website/js/mail-script.js"></script>	
			<script src="assets/website/js/main.js"></script>	
      