<div class="container">
  <mat-card class="left">
    <mat-card-header>
      <div class="header-image">
        <img src="assets/images/login-logo.png" alt="">
      </div>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="email" matInput placeholder="امیل">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="پاسورد">
          <mat-icon matSuffix>star_border</mat-icon>
          <mat-icon matSuffix>star_border</mat-icon>
          <mat-icon matSuffix>star_border</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>ورود به سیستم</button>
      <button mat-button>حساب جدید</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="right">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
      </div>
      <mat-card-title>رهنمایی استفاده از سیستم</mat-card-title>
      <mat-card-subtitle>NGO MIS</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>ویب سایت</button>
      <button mat-button>فیسبوک</button>
    </mat-card-actions>
  </mat-card>
</div>