
mat-card{
    width: 500px;
    top: 80px;
    margin: auto;
}
mat-card-actions{
    display: flex;
    justify-content: space-between;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field, .example-container > * {
    width: 100%;
  }
  
  