<mat-card>
  <mat-card-header>
    <h3>
      {{'user.loginToSystem' | translate}}
    </h3>
    <img src="assets/images/login-logo.png" alt="">
  </mat-card-header>
  <mat-card-content>
    <div class="example-container">
      <form [formGroup]="orgForm" (ngSubmit)="login(orgForm)">
        <mat-form-field>
          <input matInput placeholder="ٔUser name" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="submit" color="primary">{{'user.login' | translate }}</button>
    <button mat-raised-button type="submit" color="primary" (click)="register()">{{'user.register' | translate }}</button>
  </mat-card-actions>
</mat-card>