















			<!-- Start News Area -->
			<section class="service-area section-gap" id="service">
				<div class="container">					
					<div class="row" style="direction:rtl;text-align:right">
						<div class="col-lg-3 col-md-6 col-sm-6">	
							<div class="single-service">
								<div class="thumb">
									<img src="assets/website/img/fe-bg.jpg">
								</div>
								<div>	
								<h5 class="mb-3 mt-3"> 
								<a href="">ملاقات دوکتور مصطفی مستور وزیر اقتصاد ج.ا.ا با معاون بانک جهانی برای آسیا</a></h5>
								<p style="color:#ab8e46;">
									<span class="fa fa-calendar"> </span>
									<span>18 جوزا 139</span>
									<span class="fa fa-file-text-o"> </span>
									<a href="" style="color:#ab8e46;"> خبر ها</a>

								</p>
									<p>نشست کمیتۀ رهبری انجوها با اشتراک مهمانان وزارت خانه ها، نمایندگان با صلاحیت منابع تمویل کننده، روئسای موسسات هماهنگ کننده با حضور وزیر اقتصاد جلالتمآب داکتر مصطفی مستور در وزارت اقتصاد برگزار گردید 
									حسابدهی موسسات غیردولتی” با اشتراک مقامات بلند رتبه دولتی، سفیر اتحادیه اروپا، روئسای موسسات غیردولتی و نهاد های
										<a href="" style="color:#ab8e46;" >
											<span class="fa fa-angle-double-left">  ادامه خبر</span>
										</a>
									 </p>
														
								</div>
							</div>															
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">	
							<div class="single-service">
								<div class="thumb">
									<img src="assets/website/img/1234.jpg">
								</div>
								<div>	
								<h5 class="mb-3 mt-3"> 
								<a href="">محفل توزیع جواز فعالیت برای موسسات جدید التاسیس داخلی و خارجی</a></h5>
								<p style="color:#ab8e46;">
									<span class="fa fa-calendar"> </span>
									<span>18 جوزا 139</span>
									<span class="fa fa-file-text-o"> </span>
									<a href="" style="color:#ab8e46;"> خبر ها</a>

								</p>
									<p>نشست کمیتۀ رهبری انجوها با اشتراک مهمانان وزارت خانه ها، نمایندگان با صلاحیت منابع تمویل کننده، روئسای موسسات هماهنگ کننده با حضور وزیر اقتصاد جلالتمآب داکتر مصطفی مستور در وزارت اقتصاد برگزار گردید 
										<a href="" style="color:#ab8e46;" >
											<span class="fa fa-angle-double-left">  ادامه خبر</span>
										</a>
									 </p>
														
								</div>
							</div>															
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">	
							<div class="single-service">
								<div class="thumb">
									<img src="assets/website/img/12345.jpg">
								</div>
								<div>	
								<h5 class="mb-3 mt-3"> 
								<a href="">محفل توزیع جواز فعالیت برای موسسات جدید التاسیس داخلی و خارجی</a></h5>
								<p style="color:#ab8e46;">
									<span class="fa fa-calendar"> </span>
									<span>18 جوزا 139</span>
									<span class="fa fa-file-text-o"> </span>
									<a href="" style="color:#ab8e46;"> خبر ها</a>

								</p>
									<p>نشست کمیتۀ رهبری انجوها با اشتراک مهمانان وزارت خانه ها، نمایندگان با صلاحیت منابع تمویل کننده، روئسای موسسات هماهنگ کننده با حضور وزیر اقتصاد جلالتمآب داکتر مصطفی مستور در وزارت اقتصاد برگزار گردید 
										<a href="" style="color:#ab8e46;" >
											<span class="fa fa-angle-double-left">  ادامه خبر</span>
										</a>
									 </p>
														
								</div>
							</div>															
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">	
							<div class="single-service">
								<div class="thumb">
									<img src="assets/website/img/123.jpg">
								</div>
								<div>	
								<h5 class="mb-3 mt-3"> 
								<a href="">محفل توزیع جواز فعالیت برای موسسات جدید التاسیس داخلی و خارجی</a></h5>
								<p style="color:#ab8e46;">
									<span class="fa fa-calendar"> </span>
									<span>18 جوزا 139</span>
									<span class="fa fa-file-text-o"> </span>
									<a href="" style="color:#ab8e46;"> خبر ها</a>

								</p>
									<p>نشست کمیتۀ رهبری انجوها با اشتراک مهمانان وزارت خانه ها، نمایندگان با صلاحیت منابع تمویل کننده، روئسای موسسات هماهنگ کننده با حضور وزیر اقتصاد جلالتمآب داکتر مصطفی مستور در وزارت اقتصاد برگزار گردید 
										<a href="" style="color:#ab8e46;" >
											<span class="fa fa-angle-double-left">  ادامه خبر</span>
										</a>
									 </p>
														
								</div>
							</div>															
						</div>
						
					</div>
				</div>	
			</section>
			<!-- End News Area -->