<div class="example-container">

  <form [formGroup]="accountForm" (ngSubmit)="editAccount()">
    <mat-form-field>
      <mat-select  formControlName="organization_id">
        <mat-option  value="option">Option</mat-option>
        <mat-option value="88" ></mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select  formControlName="project_id">
        <mat-option value="option">Option</mat-option>
        <mat-option value="88"></mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select  formControlName="keyspersonnel_id">
        <mat-option value="option">Option</mat-option>
        <mat-option value="88">88</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput  formControlName="location">
    </mat-form-field>

    <mat-form-field>
      <mat-select  formControlName="currency">
        <mat-option value="option">Option</mat-option>
        <mat-option value="افغانی">افغانی</mat-option>
        <mat-option value="دالر">دالر</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" style="float:left;">ذخیره</button>

  </form>
</div>