
<div class="example-container">
  
  <form [formGroup]="accountForm" (ngSubmit)="editAccount()">
      <mat-form-field>
          <mat-select placeholder="انتخاب موسسه" formControlName="organization_id">
            <mat-option value="option">Option</mat-option>
            <mat-option value="88"></mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-form-field>
            <mat-select placeholder="انتخاب پروژه" formControlName="project_id">
              <mat-option value="option">Option</mat-option>
              <mat-option value="88">77</mat-option>
            </mat-select>
          </mat-form-field> 
          <mat-form-field>
            <mat-select placeholder="انتخاب افراد کلیدی" formControlName="keyspersonnel_id">
              <mat-option value="option">Option</mat-option>
              <mat-option value="88">88</mat-option>
            </mat-select>
          </mat-form-field> 
          <mat-form-field>
           <input matInput placeholder="نام" formControlName="name">
           </mat-form-field>
          <mat-form-field>
          <input matInput placeholder="موقعیت" formControlName="location">
          </mat-form-field>
          <mat-form-field>
              <mat-select placeholder="انتخاب واحد پولی" formControlName="currency">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="افغانی">افغانی</mat-option>
                  <mat-option value="دالر">دالر</mat-option>
                </mat-select>
           </mat-form-field>
          <button mat-raised-button color="primary"type="submit" style="float:left;">ذخیره</button>
        
  </form>
</div>

