<mat-horizontal-stepper linear labelPosition="bottom" #stepper>

  <mat-step [stepControl]="firstFormGroup" [optional]="!isOptional">

    <form [formGroup]="firstFormGroup" (ngSubmit) ="firstForm(firstFormGroup)"  >

      <ng-template matStepLabel>نام موسسه</ng-template>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1" color="primary" class="font">National/ خارجی</mat-radio-button>
        <mat-radio-button value="2" color="primary" class="font">Internationalداخلی</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput placeholder=" نام دری موسسه " formControlName="ngoNameDari" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="نام انگلیسی موسسه" formControlName="ngoNameEnglish" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="مخفف نام موسسه" formControlName="shortName" >
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>بعدی</button>
      </div>
    </form>

  </mat-step>
  
  <mat-step [stepControl]="secondFormGroup" [optional]="!isOptional">

    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>NGO Basic Information ابتدایی مؤسسه</ng-template>
      <mat-form-field>
        <textarea matInput placeholder=" Goals /  آهداف" formControlName="secondCtrl" ></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder=" Funding Source :Naational, International, Private, Governement/ نام منابع مساعدت کننده: داخلی،خارجی، شخصی، حکومتی " formControlName="secondCtrl" required></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="دارایی نقدی موسسه " formControlName="secondCtrl" >
      </mat-form-field>

      <section class="example-section">
        <section class="example-section">
          <mat-checkbox color="primary"  class="font">  Education and Trining/ تعلیم و تربیه  </mat-checkbox>
          <mat-checkbox color="primary" class="font"> صحت</mat-checkbox>
          <mat-checkbox color="primary" class="font"> زراعت، مالداری، و آبیاری</mat-checkbox>
          <mat-checkbox color="primary"  class="font">مصونیت اجتماعی</mat-checkbox>
          <mat-checkbox color="primary"  class="font">زیر بینا</mat-checkbox>
          <mat-checkbox color="primary"  class="font">حکومت داری خوب </mat-checkbox>
        </section>
      </section>
      <div>
        <button mat-button matStepperPrevious>قبلی</button>
        <button mat-button matStepperNext>بعدی</button>
      </div>
    </form>

  </mat-step> 

   <mat-step [stepControl]="thirdFormGroup" [optional]="!isOptional">

    <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>آدرس موسسه</ng-template>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  آدرس موسسه
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field class="w49">
                <input matInput formControlName="thirdCtrl" placeholder="نمبر خانه" >
              </mat-form-field>
              <mat-form-field class="w49">
                <input matInput formControlName="thirdCtrl" placeholder="نمبر سرک" >
              </mat-form-field>
              <mat-form-field class="w49">
                <input matInput formControlName="thirdCtrl" placeholder="ناحیه" >
              </mat-form-field>
              <mat-form-field class="w49">
                <input matInput formControlName="thirdCtrl" placeholder="ولایت" >
              </mat-form-field>
             
              <mat-form-field class="w49">
                <input matInput formControlName="thirdCtrl" placeholder="ایمل آدرس" >
              </mat-form-field>
             
              <mat-form-field class="w49">
                <input matInput formControlName="thirdCtrl" placeholder="ویب سایت" >
              </mat-form-field>

              <mat-form-field class="w49">
                <input matInput formControlName="thirdCtrl" placeholder="تیلفون نمبر" >
              </mat-form-field>
             
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  آدرس موسسه در خارج
                </mat-panel-title>
              </mat-expansion-panel-header>
              
              <mat-form-field class="w49">
                <input matInput placeholder='شهر' >
              </mat-form-field>
              
              <mat-form-field class="w49">
                <input matInput placeholder="کشور " >
              </mat-form-field>

              <mat-form-field class="w49">
                <input matInput placeholder="فکس نمبر " >
              </mat-form-field>

              <mat-form-field class="w49">
                <input matInput placeholder="تیلفون" >
              </mat-form-field>
              
            </mat-expansion-panel>
          </mat-accordion>
      <div>
        <button mat-button matStepperPrevious>قبلی</button>
        <button mat-button matStepperNext>بعدی</button>
      </div>
    </form>

  </mat-step> 

   <mat-step [stepControl]="fourthFormGroup" [optional]="!isOptional">

    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>مؤسسین و منسوبین کلیدی مؤسسه</ng-template>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              معلومات ریس
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder="اسم" >
          </mat-form-field>
          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder="ولد " >
          </mat-form-field>
          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder="Gender " >
          </mat-form-field>
          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder="نمبر تزکره " >
          </mat-form-field>
          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder=" درجه تحصیل" >
          </mat-form-field>
          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder="شماره تماس " >
          </mat-form-field>
          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder=" ایمل" >
          </mat-form-field>
          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder="آدرس " >
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              معلومات معاوین
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="w49">
            <input matInput placeholder="اسم " >
          </mat-form-field>

          <mat-form-field class="w49">
            <input matInput placeholder="ولد" >
          </mat-form-field>

          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder="نمبر تزکره " >
          </mat-form-field>

          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder=" درجه تحصیل" >
          </mat-form-field>

          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder="شماره تماس " >
          </mat-form-field>

          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder=" ایمل" >
          </mat-form-field>

          <mat-form-field class="w49">
            <input matInput formControlName="fourthCtrl" placeholder="آدرس " >
          </mat-form-field>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>

            <mat-panel-title>
              معلومات مسول مالی و اداری
            </mat-panel-title>

          </mat-expansion-panel-header>

          
          <mat-form-field class="w49">
              <input matInput placeholder="اسم " >
            </mat-form-field>
            
            <mat-form-field class="w49">
              <input matInput placeholder="ولد" >
            </mat-form-field>
  
            <mat-form-field class="w49">
              <input matInput formControlName="fourthCtrl" placeholder="نمبر تزکره " >
            </mat-form-field>
  
            <mat-form-field class="w49">
              <input matInput formControlName="fourthCtrl" placeholder=" درجه تحصیل" >
            </mat-form-field>
  
            <mat-form-field class="w49">
              <input matInput formControlName="fourthCtrl" placeholder="شماره تماس " >
            </mat-form-field>
  
            <mat-form-field class="w49">
              <input matInput formControlName="fourthCtrl" placeholder=" ایمل" >
            </mat-form-field>
  
            <mat-form-field class="w49">
              <input matInput formControlName="fourthCtrl" placeholder="آدرس " >
            </mat-form-field>

        </mat-expansion-panel>
      </mat-accordion>
      <div>
        <button mat-button matStepperPrevious>قبلی</button>
        <button mat-button matStepperNext>بعدی</button>
      </div>
    </form>

  </mat-step> 

  <mat-step>
    <ng-template matStepLabel>ارسال</ng-template>
    <p class="last-step">معلومات که ارایه کرده اید آماده ثبت است.</p>
    <p class="last-step">آیا میخواهید ثبت شود؟</p>
    <div>
      <button mat-button matStepperPrevious>قبلی</button>
      <button mat-button (click)="stepper.reset()">تنظیم مجدد</button>
      <button mat-button (click)="stepper.reset()">ثبت</button>
    </div>
  </mat-step>
  
</mat-horizontal-stepper>