<div class="example-container">
  <form [formGroup]="orgForm" (ngSubmit)="callingFunction(orgForm)">
    <mat-form-field>
      <input matInput placeholder="Input" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea" formControlName="details"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select" formControlName="gender">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <button matButton type="submit">Submit</button>
  </form>
</div>
