<mat-tab-group>
  <mat-tab label="{{'body.budjet' | translate}}"><app-budjet-types></app-budjet-types> </mat-tab>
  <mat-tab label="Assessment types"> <app-assessment-types></app-assessment-types> </mat-tab>
  <mat-tab label="Delegation types"> <app-delegation-types></app-delegation-types> </mat-tab>
  <mat-tab label="Employee types"> <app-employee-types></app-employee-types></mat-tab>
  <mat-tab label="Equipment types"><app-equipment-types></app-equipment-types> </mat-tab>
  <mat-tab label="Organization types"> <app-organization-types></app-organization-types> </mat-tab>
</mat-tab-group>
