	 		<link rel="stylesheet" href="assets/website/css/linearicons.css">
			<link rel="stylesheet" href="assets/website/css/font-awesome.min.css">
			<link rel="stylesheet" href="assets/website/css/bootstrap.css">
			<link rel="stylesheet" href="assets/website/css/magnific-popup.css">
			<link rel="stylesheet" href="assets/website/css/nice-select.css">	
			<link rel="stylesheet" href="assets/website/css/hexagons.min.css">							
			<link rel="stylesheet" href="assets/website/css/animate.min.css">
			<link rel="stylesheet" href="assets/website/css/owl.carousel.css">
			<link rel="stylesheet" href="assets/website/css/main.css">
		
			<section class="banner-area relative" id="home" style="direction:ltr">
				<!-- <div class="overlay overlay-bg"></div> -->
				<div id="demo" id="slidshow" class="carousel slide" data-ride="carousel">
				  <ul class="carousel-indicators">
				    <li data-target="#demo" data-slide-to="0" class="active"></li>
				    <li data-target="#demo" data-slide-to="1"></li>
				    <li data-target="#demo" data-slide-to="2"></li>
				  </ul>
				  <div class="carousel-inner">
				    <div class="carousel-item active">
				      <img src="assets/website/img/1017.jpg" alt="Los Angeles" width="1100" height="500">
				      <div class="carousel-caption">
				        <h2 >مؤسسات غیردولتی در سکتور زراعت ، مالداری و آبیاری</h2>
				        <p  >درسال 1394 تعداد 2536 پروژه بالغ بر 390.71 میلیون دالر درسکتور خدمات اجتماعی از طریق مؤسسات به مصرف رسیده است</p>
				      </div>   
				    </div>
				    <div class="carousel-item">
				      <img src="assets/website/img/1017.jpg" alt="Chicago" width="1100" height="500">
				      <div class="carousel-caption">
				         <h2 >مؤسسات غیردولتی در سکتور زراعت ، مالداری و آبیاری</h2>
				        <p  >درسال 1394 تعداد 2536 پروژه بالغ بر 390.71 میلیون دالر درسکتور خدمات اجتماعی از طریق مؤسسات به مصرف رسیده است</p>
				      </div>   
				    </div>
				    <div class="carousel-item">
				      <img src="assets/website/img/1017.jpg" alt="New York" width="1100" height="500">
				      <div class="carousel-caption">
				         <h2 >مؤسسات غیردولتی در سکتور زراعت ، مالداری و آبیاری</h2>
				        <p  >درسال 1394 تعداد 2536 پروژه بالغ بر 390.71 میلیون دالر درسکتور خدمات اجتماعی از طریق مؤسسات به مصرف رسیده است</p>
				      </div>   
				    </div>
				  </div>
				</div>
	
			</section>

				<!--<script src="assets/website/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="assets/website/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="assets/website/js/easing.min.js"></script>			
			<script src="assets/website/js/hoverIntent.js"></script>
			<script src="assets/website/js/superfish.min.js"></script>	
			<script src="assets/website/js/jquery.ajaxchimp.min.js"></script>
			<script src="assets/website/js/jquery.magnific-popup.min.js"></script>	
			<script src="assets/website/js/owl.carousel.min.js"></script>	
			<script src="assets/website/js/hexagons.min.js"></script>							
			<script src="assets/website/js/jquery.nice-select.min.js"></script>	
			<script src="assets/website/js/jquery.counterup.min.js"></script>
			<script src="assets/website/js/waypoints.min.js"></script>							
			<script src="assets/website/js/mail-script.js"></script>	
			<script src="assets/website/js/main.js"></script>	-->