<div class="example-container">
    <form [formGroup]="orgForm" (ngSubmit)="edittData()">
      <mat-form-field>
        <input matInput placeholder="Input" formControlName="districtName">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="input" formControlName="districtCode">
      </mat-form-field>
  
      <mat-form-field>
        <mat-select placeholder="Select" formControlName="drovince_id">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
        </mat-select>
      </mat-form-field>
      
      
      <button mat-button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  
  